.cards {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: repeat(2, 2fr);
    grid-row-gap: 45px;
    grid-column-gap: 45px;
    padding: 100px 0 0 0;
}


.card {
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    max-width: 282px;
    box-sizing: border-box;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}



.card__photo {
    width: 295px;
    height: 295px;
    border-radius: 15px 15px 0 0;
}

.card__button-trash {
    background-color: transparent;
    border: 0;
    position: absolute;
    top: 15px;
    right: 15px;
    margin: 0;
    padding: 0;
}

.card__button-trash_image {
    background-color: transparent;
    border: 0;
    position: absolute;
    top: 15px;
    right: 15px;
    margin: 0;
    padding: 0;
}

.card__button-trash_image:hover {
    opacity: 20%;
}

.card__name-place {
    font-size: 24px;
    font-weight: 900;
    background-color: white;
    padding-left: 10px;
    padding-top: 15px;
}

.card__button-love {
    border: 0;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: contain;
    padding: 0;
    background-image: url("/images/corazonblanco.jpg");
}


.card__button-love_active {
    background-image: url("/images/corazonnegro.jpg");
}


@media screen and (min-width:650px) and (max-width:1000px) {

    .cards {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: repeat(3, 3fr);
        grid-row-gap: 30px;
        grid-column-gap: 30px;
    }
}

@media screen and (min-width:320px) and (max-width:649px) {
    .cards {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        padding-top: 50px;
    }
}