.header {
    max-width: 80%;
    border-bottom-color: #545454;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin: 35px auto;
}

.header__logo {
    max-width: 173px;
    margin-bottom: 35px;
}